.gitignore
vdd/data/*/.htaccess
vdd/data/*/authorize.php
vdd/data/*/CHANGELOG.txt
vdd/data/*/COPYRIGHT.txt
vdd/data/*/cron.php
vdd/data/*/index.php
vdd/data/*/INSTALL.mysql.txt
vdd/data/*/INSTALL.pgsql.txt
vdd/data/*/install.php
vdd/data/*/INSTALL.sqlite.txt
vdd/data/*/INSTALL.txt
vdd/data/*/LICENSE.txt
vdd/data/*/MAINTAINERS.txt
vdd/data/*/README.txt
vdd/data/*/robots.txt
vdd/data/*/update.php
vdd/data/*/UPGRADE.txt
vdd/data/*/web.config
vdd/data/*/xmlrpc.php
vdd/data/*/includes/*
vdd/data/*/misc/*
vdd/data/*/modules/*
vdd/data/*/profiles/minimal/*
vdd/data/*/profiles/standard/*
vdd/data/*/profiles/testing/*
vdd/data/*/scripts/*
vdd/data/*/sites/all/modules/*
vdd/data/*/sites/all/libraries/*
vdd/data/*/sites/all/themes/contrib/*
vdd/data/*/sites/default/*
vdd/data/*/themes/*
vdd/data/dpf/sites/example.sites.php
vdd/data/dpf/sites/README.txt
