/* Header styles and animations */

.ha-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0;
	z-index: 50;
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.ha-header-perspective {
	width: 100%;
	height: 100%;
	position: relative;
	-webkit-perspective: 1100px;
	-moz-perspective: 1100px;
	perspective: 1100px;
	-webkit-perspective-origin: 50% 0;
	-moz-perspective-origin: 50% 0;
	perspective-origin: 50% 0;
}

.ha-header-perspective > div {
  background-color: rgba(255, 255, 255, 0.75);
	text-align: left;
	padding: 0 2%;
	height: 50%;
	width: 100%;
	margin: 0 auto;
	position: relative;
	text-align: justify;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	overflow: hidden;
}

.ha-header-front {
	z-index: 2;
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
  -webkit-box-shadow: 0 6px 6px -6px grey;
  -moz-box-shadow: 0 6px 6px -6px grey;
  box-shadow: 0 6px 6px -6px grey;
}

.ha-header-perspective .ha-header-bottom {
	background: #ddd;
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	z-index: 1;
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	-webkit-transition: top 0.5s;
	-moz-transition: top 0.5s;
	transition: top 0.5s;
	position: absolute;
	top: 0;
  padding: 2% 0;
}

/* Justify inline-block elements (h1 on left side, nav on right) */
.ha-header-perspective > div::after {
    content: '';
    display: inline-block;
    width: 100%;
}

/* Text styling */
.ha-header h1,
.ha-header h1::before,
.ha-header h1 span,
.ha-header nav,
.ha-header nav::before {
	display: inline-block;
	vertical-align: middle;
  text-align: center;
}

.ha-header h1 {
	font-weight: 500;
	font-size: 2em;
	margin: 0;
	padding: 0 0em 0 0;
	color: #2d383f;
	cursor: default;
	height: 100%;
	z-index: 1;
  line-height: .8;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
  text-transform: uppercase;
}

.ha-header h1::before,
.ha-header nav::before {
	content: '';
}

.ha-header h1::after {
	content: '';
	width: 100px;
	height: 96px;
	background: #fff;
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	cursor: pointer;
	box-shadow: inset 0 8px #2d383f, inset 0 16px #fff, inset 0 24px #2d383f, inset 0 32px #fff, inset 0 40px #2d383f, inset 0 48px #fff, inset 0 56px #2d383f;
	opacity: 0;
	border: 20px solid #fff;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.ha-header nav {
	height: 100%;
}

.ha-header nav a {
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
  padding: 0.2em 0em;
  margin: 0 0.4em 0;
  font-size: 0.8em;
  cursor: pointer;
  color: #e74c3c;
  outline: none;
  text-decoration: none;
}

.ha-header nav a.menu-anchor {
  color: #000000;
  font-size: 2.25em;
  line-height: 0.5;
  margin: 0;
  padding: 4px 0;
  font-weight: 500;
}

.ha-header nav a.menu-close {
  color: #000000;
  font-size: 2em;
  height: 50px;
  line-height: 1;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 75px;
  display: none;
}

.ha-header nav a:hover {
	color: #bc3c2f;
}

.ha-header nav a:last-child {
    margin-right: 0;
}

.ha-header .ha-header-front nav a:first-child,
.ha-header .ha-header-front nav a:last-child {
}

.ha-header .ha-header-front nav a:first-child:hover,
.ha-header .ha-header-front nav a:last-child:hover {
}

/* Individual states */

.ha-header-large {
	height: 140px;
}

.ha-header-small {
	height: 100px;
}

.ha-header-hide {
	height: 220px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

.ha-header-show {
	height: 220px;
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	transform: translateY(0%);
}

.ha-header-show .ha-header-bottom {
	opacity: 0;
	-webkit-transition: top 0.5s, opacity 0s 0.5s;
	-moz-transition: top 0.5s, opacity 0s 0.5s;
	transition: top 0.5s, opacity 0s 0.5s;
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
	top: 0%;
}

.ha-header-subshow {
	height: 100px;
}

.ha-header-subshow .ha-header-bottom {
	-webkit-transition: top 0.5s;
	-moz-transition: top 0.5s;
	transition: top 0.5s;
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
	top: 50%;
  height: 100%;
}

.ha-header-shrink {
	height: 220px;
	top: 50px;
	padding-left: 50px;
	padding-right: 50px;
}

.ha-header-shrink .ha-header-bottom {
	opacity: 0;
}

.ha-header-rotate {
	height: 220px;
	top: 50px;
	padding-left: 50px;
	padding-right: 50px;
}

.ha-header-rotate .ha-header-front {
	-webkit-transform: translateY(-100%) rotateX(90deg);
	-moz-transform: translateY(-100%) rotateX(90deg);
	transform: translateY(-100%) rotateX(90deg);
}

.ha-header-rotate .ha-header-bottom {
	top: 50%;
	-webkit-transition: -webkit-transform 0.5s;
	-moz-transition: -moz-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: rotateX(0deg) translateY(-100%);
	-moz-transform: rotateX(0deg) translateY(-100%);
	transform: rotateX(0deg) translateY(-100%);
}

.ha-header-rotateBack {
	height: 220px;
	top: 50px;
	padding-left: 50px;
	padding-right: 50px;
}

.ha-header-rotateBack .ha-header-front {
	-webkit-transform: translateY(0%) rotateX(0deg);
	-moz-transform: translateY(0%) rotateX(0deg);
	transform: translateY(0%) rotateX(0deg);
}

.ha-header-rotateBack .ha-header-bottom {
	top: 50%;
	-webkit-transition: -webkit-transform 0.5s;
	-moz-transition: -moz-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
}

.ha-header-color {
	height: 420px;
}

.ha-header-color .ha-header-front,
.ha-header-color .ha-header-bottom {
	background: #f3796c;
}

.ha-header-color h1,
.ha-header-color nav a {
	color: #fff;
}

.ha-header-box {
	height: 192px;
	width: 100px;
	top: 20px;
	left: 20px;
}

.ha-header-box h1 {
	padding-left: 150px;
}

.ha-header-box h1,
.ha-header-box nav a {
	color: transparent;
}

.ha-header-box h1:after {
	opacity: 1;
}

.ha-header-box nav {
	opacity: 0;
}

.ha-header-fullscreen {
	height: 100%;
	opacity: 0.9;
}

.ha-header-fullscreen .ha-header-front {
	height: 100%;
}

.ha-header-fullscreen .ha-header-bottom {
	opacity: 0;
	-webkit-transition: top 0.5s, opacity 0s 0.5s;
	-moz-transition: top 0.5s, opacity 0s 0.5s;
	transition: top 0.5s, opacity 0s 0.5s;
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
	top: 50%;
	background: #f3796c;
}

.ha-header-subfullscreen {
	height: 100%;
	opacity: 0.9;
}

.ha-header-subfullscreen .ha-header-bottom {
	-webkit-transition: top 0.5s;
	-moz-transition: top 0.5s;
	transition: top 0.5s;
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
	top: 50%;
	background: #f3796c;
}

.ha-header-subfullscreen .ha-header-bottom nav a {
	color: #fff;
}



#nav-toggle {}

#nav-toggle {
  cursor: pointer;
  padding: 0px 35px 16px 0px;
  margin: 20px 0;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: black;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

