/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300|Lora:400italic|Playfair+Display:700);
/* line 1, ../../../../../../../../lib/gems/1.9.1/gems/toolkit-2.0.0/stylesheets/toolkit/_kickstart.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, ../../../../../../../../lib/gems/1.9.1/gems/toolkit-2.0.0/stylesheets/toolkit/_kickstart.scss */
img, video {
  max-width: 100%;
  height: auto;
}

/* -------------------------- */
/* -------------------------- */
/* line 1, ../sass/partials/global/_variables.scss */
html {
  box-sizing: border-box;
}

/* line 5, ../sass/partials/global/_variables.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* line 1, ../sass/partials/styleguide/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
audio, canvas, video {
  display: inline-block;
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
[hidden] {
  display: none;
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
body {
  margin: 0;
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
a:active, a:hover {
  outline: 0;
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
b, strong {
  font-weight: bold;
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
code, kbd, pre, samp {
  font-family: monospace,serif;
  font-size: 1em;
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
small {
  font-size: 80%;
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
img {
  border: 0;
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
figure {
  margin: 0;
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
button, select {
  text-transform: none;
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
button[disabled], html input[disabled] {
  cursor: default;
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 1, ../sass/partials/styleguide/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 3, ../sass/partials/styleguide/_typography.scss */
body {
  color: #69606b;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* line 13, ../sass/partials/styleguide/_typography.scss */
a {
  outline: none;
  color: black;
  text-decoration: none;
}

/* line 19, ../sass/partials/styleguide/_typography.scss */
a:hover, a:focus {
  color: #69606b;
}

/* -------------------------- */
/* -------------------------- */
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'codropsicons';
  src: url("../fonts/codropsicons/codropsicons.eot");
  src: url("../fonts/codropsicons/codropsicons.eot?#iefix") format("embedded-opentype"), url("../fonts/codropsicons/codropsicons.woff") format("woff"), url("../fonts/codropsicons/codropsicons.ttf") format("truetype"), url("../fonts/codropsicons/codropsicons.svg#codropsicons") format("svg");
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?-ee0u0f");
  src: url("../fonts/icomoon/icomoon.eot?#iefix-ee0u0f") format("embedded-opentype"), url("../fonts/icomoon/icomoon.woff?-ee0u0f") format("woff"), url("../fonts/icomoon/icomoon.ttf?-ee0u0f") format("truetype"), url("../fonts/icomoon/icomoon.svg?-ee0u0f#icomoon") format("svg");
}
/* line 23, ../sass/partials/layouts/_shared.scss */
html, body {
  height: 100%;
}

/* line 27, ../sass/partials/layouts/_shared.scss */
body {
  background: #fff;
  overflow-x: hidden;
}

/* line 32, ../sass/partials/layouts/_shared.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: '';
}

/* line 36, ../sass/partials/layouts/_shared.scss */
.clearfix:after {
  clear: both;
}

/* line 41, ../sass/partials/layouts/_shared.scss */
section.quotation blockquote {
  border-left: 1px solid #ccc;
  font-size: 2em;
  font-weight: 500;
  margin: 0 10% 5%;
  padding: 2em 0em 2em 2em;
  line-height: 1.2;
  quotes: "\201C" "\201D" "\2018" "\2019";
}
/* line 50, ../sass/partials/layouts/_shared.scss */
section.quotation blockquote p {
  display: block;
  margin: -8% 0 2%;
  padding: 0 0% 0 10%;
}
/* line 56, ../sass/partials/layouts/_shared.scss */
section.quotation blockquote:before {
  color: #d3d3d3;
  content: open-quote;
  font-size: 3em;
  line-height: .1em;
  margin-right: .25em;
  vertical-align: -.4em;
}
/* line 65, ../sass/partials/layouts/_shared.scss */
section.quotation blockquote .author {
  color: grey;
  font-size: 70%;
  font-style: italic;
  margin: 0 0;
  padding: 0 10%;
}
/* line 72, ../sass/partials/layouts/_shared.scss */
section.quotation blockquote .author:before {
  content: ' - ';
}

/* line 5, ../sass/partials/layouts/_home-layout.scss */
.container {
  height: 100%;
}
/* line 7, ../sass/partials/layouts/_home-layout.scss */
.container.modify {
  height: 80%;
}

/* Header */
/* line 13, ../sass/partials/layouts/_home-layout.scss */
.header {
  position: relative;
  margin: 0 auto;
  height: 90%;
  width: 100%;
}
/* line 19, ../sass/partials/layouts/_home-layout.scss */
.header .title {
  z-index: 1000;
  margin: 0 auto;
  padding: 1.25em;
  width: 100%;
  text-align: center;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
@media (min-width: 20em) {
  /* line 19, ../sass/partials/layouts/_home-layout.scss */
  .header .title {
    top: 15%;
    left: 50%;
    position: relative;
    z-index: -1;
  }
}
@media (min-width: 46.25em) {
  /* line 19, ../sass/partials/layouts/_home-layout.scss */
  .header .title {
    left: 0;
    position: relative;
    top: 15%;
    width: 50%;
    z-index: -1;
  }
}
@media (min-width: 75em) {
  /* line 19, ../sass/partials/layouts/_home-layout.scss */
  .header .title {
    left: 14%;
    position: relative;
    top: 15%;
    width: 77%;
    z-index: -1;
  }
}
/* line 58, ../sass/partials/layouts/_home-layout.scss */
.header .title h1 {
  padding: 0 0 0.2em;
  color: #fff;
  font-weight: 500;
  font-size: 3.5em;
  margin: 0 auto;
  text-shadow: 2px 2px 0px black, 0px 0px 0px white, 1px 1px 0px black;
  opacity: 1;
}
/* line 70, ../sass/partials/layouts/_home-layout.scss */
.header .title p {
  color: #fff;
  padding: 0 0 0.6em;
  font-weight: 300;
  font-size: 0.85em;
  margin: 0 auto;
}
/* line 78, ../sass/partials/layouts/_home-layout.scss */
.header .title h1,
.header .title p.subline {
  line-height: 1;
}
@media (min-width: 75em) {
  /* line 78, ../sass/partials/layouts/_home-layout.scss */
  .header .title h1,
  .header .title p.subline {
    max-width: 48%;
  }
}
/* line 92, ../sass/partials/layouts/_home-layout.scss */
.header .title p.subline {
  color: white;
  font-size: 1.75em;
  font-weight: 500;
  text-shadow: 0 1px 0px black, 0 0 0 white;
}

/* line 101, ../sass/partials/layouts/_home-layout.scss */
.posts-grid {
  background: whitesmoke;
  position: relative;
  overflow: hidden;
}
@media (min-width: 20em) {
  /* line 101, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid {
    top: -10%;
  }
}
@media (min-width: 46.25em) {
  /* line 101, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid {
    top: -10%;
  }
}
@media (min-width: 75em) {
  /* line 101, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid {
    top: -10%;
  }
}
/* line 118, ../sass/partials/layouts/_home-layout.scss */
.posts-grid .main-posts {
  width: 65.21739%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}
@media (min-width: 20em) {
  /* line 118, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid .main-posts {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding: 4% 4% 0;
  }
}
@media (min-width: 46.25em) {
  /* line 118, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid .main-posts {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding: 3% 3% 0;
  }
}
@media (min-width: 75em) {
  /* line 118, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid .main-posts {
    width: 65.21739%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    padding: 3% 0% 0% 3%;
  }
}
/* line 138, ../sass/partials/layouts/_home-layout.scss */
.posts-grid .main-posts .article.first {
  width: 47.82609%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 4.34783%;
}
@media (min-width: 20em) {
  /* line 138, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid .main-posts .article.first {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 46.25em) {
  /* line 138, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid .main-posts .article.first {
    width: 47.82609%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
@media (min-width: 75em) {
  /* line 138, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid .main-posts .article.first {
    width: 47.82609%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
/* line 155, ../sass/partials/layouts/_home-layout.scss */
.posts-grid .main-posts .article.second {
  width: 47.82609%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
@media (min-width: 20em) {
  /* line 155, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid .main-posts .article.second {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 46.25em) {
  /* line 155, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid .main-posts .article.second {
    width: 47.82609%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 75em) {
  /* line 155, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid .main-posts .article.second {
    width: 47.82609%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: right;
  }
}
/* line 173, ../sass/partials/layouts/_home-layout.scss */
.posts-grid .main-posts .article.third {
  width: 47.82609%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 4.34783%;
}
@media (min-width: 20em) {
  /* line 173, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid .main-posts .article.third {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 46.25em) {
  /* line 173, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid .main-posts .article.third {
    width: 47.82609%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: both;
  }
}
@media (min-width: 75em) {
  /* line 173, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid .main-posts .article.third {
    width: 47.82609%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: both;
  }
}
/* line 191, ../sass/partials/layouts/_home-layout.scss */
.posts-grid .main-posts .article.fourth {
  width: 47.82609%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
@media (min-width: 20em) {
  /* line 191, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid .main-posts .article.fourth {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 46.25em) {
  /* line 191, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid .main-posts .article.fourth {
    width: 47.82609%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 75em) {
  /* line 191, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid .main-posts .article.fourth {
    width: 47.82609%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 211, ../sass/partials/layouts/_home-layout.scss */
.posts-grid .secondary-posts {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding: 3% 3% 0;
}
@media (min-width: 20em) {
  /* line 219, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid .secondary-posts .article.first {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 46.25em) {
  /* line 219, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid .secondary-posts .article.first {
    width: 48.57143%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
@media (min-width: 75em) {
  /* line 219, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid .secondary-posts .article.first {
    width: 31.42857%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
@media (min-width: 20em) {
  /* line 234, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid .secondary-posts .article.second {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 46.25em) {
  /* line 234, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid .secondary-posts .article.second {
    width: 48.57143%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 75em) {
  /* line 234, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid .secondary-posts .article.second {
    width: 31.42857%;
    float: left;
    margin-right: -100%;
    margin-left: 34.28571%;
    clear: none;
  }
}
@media (min-width: 20em) {
  /* line 250, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid .secondary-posts .article.third {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 46.25em) {
  /* line 250, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid .secondary-posts .article.third {
    width: 48.57143%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: right;
  }
}
@media (min-width: 75em) {
  /* line 250, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid .secondary-posts .article.third {
    width: 31.42857%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 20em) {
  /* line 265, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid .secondary-posts .article.fourth {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 46.25em) {
  /* line 265, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid .secondary-posts .article.fourth {
    width: 48.57143%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 75em) {
  /* line 265, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid .secondary-posts .article.fourth {
    width: 31.42857%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: right;
  }
}
@media (min-width: 20em) {
  /* line 281, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid .secondary-posts .article.fifth {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 46.25em) {
  /* line 281, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid .secondary-posts .article.fifth {
    width: 48.57143%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: right;
  }
}
@media (min-width: 75em) {
  /* line 281, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid .secondary-posts .article.fifth {
    width: 31.42857%;
    float: left;
    margin-right: -100%;
    margin-left: 34.28571%;
    clear: none;
  }
}
@media (min-width: 20em) {
  /* line 298, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid .secondary-posts .article.sixth {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 46.25em) {
  /* line 298, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid .secondary-posts .article.sixth {
    width: 48.57143%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 75em) {
  /* line 298, ../sass/partials/layouts/_home-layout.scss */
  .posts-grid .secondary-posts .article.sixth {
    width: 31.42857%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

/* line 317, ../sass/partials/layouts/_home-layout.scss */
aside {
  width: 31.42857%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
@media (min-width: 20em) {
  /* line 317, ../sass/partials/layouts/_home-layout.scss */
  aside {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding: 0 4% 4%;
  }
  /* line 323, ../sass/partials/layouts/_home-layout.scss */
  aside.hide-unless-medium {
    display: none;
  }
  /* line 326, ../sass/partials/layouts/_home-layout.scss */
  aside.show-unless-medium {
    background: lightgrey;
    margin: 0em auto 1.5em;
  }
}
@media (min-width: 46.25em) {
  /* line 317, ../sass/partials/layouts/_home-layout.scss */
  aside {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding: 0% 3% 3% 0;
  }
  /* line 335, ../sass/partials/layouts/_home-layout.scss */
  aside.hide-unless-medium {
    background: lightgrey;
    display: block;
    margin: 0 auto 1.5em;
    padding: 0 1.5em;
  }
  /* line 341, ../sass/partials/layouts/_home-layout.scss */
  aside.show-unless-medium {
    display: none;
  }
}
@media (min-width: 75em) {
  /* line 317, ../sass/partials/layouts/_home-layout.scss */
  aside {
    width: 31.42857%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding: 0% 3% 3% 0;
  }
  /* line 349, ../sass/partials/layouts/_home-layout.scss */
  aside.hide-unless-medium {
    display: none;
  }
  /* line 352, ../sass/partials/layouts/_home-layout.scss */
  aside.show-unless-medium {
    background: lightgrey;
    border-left: 1px solid #999;
    display: block;
    margin: 3% 0 3%;
    padding: 0 1.5% 0;
  }
}

/* line 2, ../sass/partials/layouts/_post-layout.scss */
section.post.main {
  padding: 4% 0% 3%;
  margin: -2% 0 0%;
  width: 100%;
}
/* line 7, ../sass/partials/layouts/_post-layout.scss */
section.post .title h1 {
  padding: 0 0 0.2em;
  color: #fff;
  font-weight: 500;
  font-size: 2.5em;
  margin: 0 auto;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.8), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

/* line 1, ../sass/partials/layouts/_footer.scss */
footer.site-footer {
  background: #d3d3d3;
  padding: 2%;
  position: relative;
  font-size: 90%;
  margin-bottom: -10%;
}
/* line 7, ../sass/partials/layouts/_footer.scss */
footer.site-footer.home {
  top: -10%;
}

/* line 1, ../sass/partials/layouts/paragraphs/_body_copy.scss */
section.body {
  margin: 0 12%;
}

/* line 1, ../sass/partials/layouts/paragraphs/_first_paragraph.scss */
section.first-paragraph {
  margin: 0 12%;
}

/* line 1, ../sass/partials/layouts/paragraphs/_post_image.scss */
section.post-image {
  overflow: hidden;
}
/* line 4, ../sass/partials/layouts/paragraphs/_post_image.scss */
section.post-image p {
  margin-top: 0;
  padding-left: 12%;
  padding-right: 12%;
}
/* line 11, ../sass/partials/layouts/paragraphs/_post_image.scss */
section.post-image.left img {
  width: 57.14286%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
  margin-right: auto;
  padding: .5% 2% .5% 0;
}
/* line 19, ../sass/partials/layouts/paragraphs/_post_image.scss */
section.post-image.right img {
  width: 57.14286%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  margin-left: 2%;
  padding: .5% 0 .5% 0%;
}
/* line 27, ../sass/partials/layouts/paragraphs/_post_image.scss */
section.post-image.full .full-wrapper {
  background: whitesmoke;
  margin: 0 auto 1em;
  padding: 1.5em 1em 0;
  text-align: center;
  width: 100%;
}
/* line 34, ../sass/partials/layouts/paragraphs/_post_image.scss */
section.post-image.full .full-wrapper img {
  width: 90%;
  margin-bottom: 1em;
}

/* line 2, ../sass/partials/layouts/paragraphs/_video.scss */
.post .video-embed {
  margin: 1em auto 0;
  max-width: 86%;
}

/* -------------------------- */
/* -------------------------- */
/* line 2, ../sass/partials/states/_anystretch.scss */
.anystretch img {
  max-width: none;
}

/* -------------------------- */
/* -------------------------- */
/* Header styles and animations */
/* line 3, ../sass/partials/components/_main-nav.scss */
.ha-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  z-index: 50;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

/* line 18, ../sass/partials/components/_main-nav.scss */
.ha-header-perspective {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-perspective: 1100px;
  -moz-perspective: 1100px;
  perspective: 1100px;
  -webkit-perspective-origin: 50% 0;
  -moz-perspective-origin: 50% 0;
  perspective-origin: 50% 0;
}

/* line 30, ../sass/partials/components/_main-nav.scss */
.ha-header-perspective > div {
  background-color: white;
  text-align: left;
  padding: 0 1%;
  height: 50px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: justify;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
}

/* line 48, ../sass/partials/components/_main-nav.scss */
.ha-header-front {
  z-index: 2;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-box-shadow: 0 6px 6px -6px grey;
  -moz-box-shadow: 0 6px 6px -6px grey;
  box-shadow: 0 6px 6px -6px grey;
}

/* line 58, ../sass/partials/components/_main-nav.scss */
.ha-header-front img {
  padding: 2px 0% 0 1%;
}

/* line 62, ../sass/partials/components/_main-nav.scss */
.ha-header-perspective .ha-header-bottom {
  background: #ddd;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  z-index: 1;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transition: top 0.5s;
  -moz-transition: top 0.5s;
  transition: top 0.5s;
  position: absolute;
  top: 0;
  padding: 2% 0;
}

/* Justify inline-block elements (h1 on left side, nav on right) */
/* line 80, ../sass/partials/components/_main-nav.scss */
.ha-header-perspective > div::after {
  content: '';
  display: inline-block;
  width: 100%;
}

/* Text styling */
/* line 87, ../sass/partials/components/_main-nav.scss */
.ha-header h1,
.ha-header h1::before,
.ha-header h1 span,
.ha-header nav,
.ha-header nav::before {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

/* line 97, ../sass/partials/components/_main-nav.scss */
.ha-header h1 {
  font-weight: 500;
  font-size: 2em;
  margin: 0;
  padding: 0 4px 0 4px;
  color: #2d383f;
  cursor: default;
  height: 100%;
  z-index: 1;
  line-height: .8;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  text-transform: uppercase;
}

/* line 113, ../sass/partials/components/_main-nav.scss */
.ha-header h1::before,
.ha-header nav::before {
  content: '';
}

/* line 118, ../sass/partials/components/_main-nav.scss */
.ha-header h1::after {
  content: '';
  width: 100px;
  height: 96px;
  background: #fff;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  cursor: pointer;
  box-shadow: inset 0 8px #2d383f, inset 0 16px #fff, inset 0 24px #2d383f, inset 0 32px #fff, inset 0 40px #2d383f, inset 0 48px #fff, inset 0 56px #2d383f;
  opacity: 0;
  border: 20px solid #fff;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

/* line 136, ../sass/partials/components/_main-nav.scss */
.ha-header nav {
  height: 100%;
}

/* line 140, ../sass/partials/components/_main-nav.scss */
.ha-header nav a {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 0.2em 0em;
  margin: 0 0.4em 0;
  font-size: 0.8em;
  cursor: pointer;
  color: #e74c3c;
  outline: none;
  text-decoration: none;
}

/* line 154, ../sass/partials/components/_main-nav.scss */
.ha-header nav a.menu-anchor {
  color: #000000;
  font-size: 2.25em;
  line-height: 0.5;
  margin: 0;
  padding: 4px 0;
  font-weight: 500;
}

/* line 163, ../sass/partials/components/_main-nav.scss */
.ha-header nav a.menu-close {
  color: #000000;
  font-size: 2em;
  height: 50px;
  line-height: 1;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 75px;
  display: none;
}

/* line 176, ../sass/partials/components/_main-nav.scss */
.ha-header nav a:hover {
  color: #bc3c2f;
}

/* line 180, ../sass/partials/components/_main-nav.scss */
.ha-header nav a:last-child {
  margin-right: 0;
}

/* Individual states */
/* line 194, ../sass/partials/components/_main-nav.scss */
.ha-header-large {
  height: 140px;
}

/* line 198, ../sass/partials/components/_main-nav.scss */
.ha-header-small {
  height: 100px;
}

/* line 202, ../sass/partials/components/_main-nav.scss */
.ha-header-hide {
  height: 220px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 209, ../sass/partials/components/_main-nav.scss */
.ha-header-show {
  height: 220px;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  transform: translateY(0%);
}

/* line 216, ../sass/partials/components/_main-nav.scss */
.ha-header-show .ha-header-bottom {
  opacity: 0;
  -webkit-transition: top 0.5s, opacity 0s 0.5s;
  -moz-transition: top 0.5s, opacity 0s 0.5s;
  transition: top 0.5s, opacity 0s 0.5s;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  top: 0%;
}

/* line 227, ../sass/partials/components/_main-nav.scss */
.ha-header-subshow {
  /* overflow: scroll; */
  height: 100%;
}

/* line 232, ../sass/partials/components/_main-nav.scss */
.ha-header-subshow .ha-header-bottom {
  -webkit-transition: top 0.5s;
  -moz-transition: top 0.5s;
  transition: top 0.5s;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  top: 0%;
  height: 90%;
  position: static;
  padding: 0% 2% 0%;
  overflow: scroll;
  width: 96%;
}

/* line 247, ../sass/partials/components/_main-nav.scss */
.ha-header-bottom p:last-child {
  margin-bottom: 0;
}

/* line 251, ../sass/partials/components/_main-nav.scss */
.ha-header-shrink {
  height: 220px;
  top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

/* line 258, ../sass/partials/components/_main-nav.scss */
.ha-header-shrink .ha-header-bottom {
  opacity: 0;
}

/* line 262, ../sass/partials/components/_main-nav.scss */
.ha-header-rotate {
  height: 220px;
  top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

/* line 269, ../sass/partials/components/_main-nav.scss */
.ha-header-rotate .ha-header-front {
  -webkit-transform: translateY(-100%) rotateX(90deg);
  -moz-transform: translateY(-100%) rotateX(90deg);
  transform: translateY(-100%) rotateX(90deg);
}

/* line 275, ../sass/partials/components/_main-nav.scss */
.ha-header-rotate .ha-header-bottom {
  top: 50%;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: rotateX(0deg) translateY(-100%);
  -moz-transform: rotateX(0deg) translateY(-100%);
  transform: rotateX(0deg) translateY(-100%);
}

/* line 285, ../sass/partials/components/_main-nav.scss */
.ha-header-rotateBack {
  height: 220px;
  top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

/* line 292, ../sass/partials/components/_main-nav.scss */
.ha-header-rotateBack .ha-header-front {
  -webkit-transform: translateY(0%) rotateX(0deg);
  -moz-transform: translateY(0%) rotateX(0deg);
  transform: translateY(0%) rotateX(0deg);
}

/* line 298, ../sass/partials/components/_main-nav.scss */
.ha-header-rotateBack .ha-header-bottom {
  top: 50%;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

/* line 308, ../sass/partials/components/_main-nav.scss */
.ha-header-color {
  height: 420px;
}

/* line 312, ../sass/partials/components/_main-nav.scss */
.ha-header-color .ha-header-front,
.ha-header-color .ha-header-bottom {
  background: #f3796c;
}

/* line 317, ../sass/partials/components/_main-nav.scss */
.ha-header-color h1,
.ha-header-color nav a {
  color: #fff;
}

/* line 322, ../sass/partials/components/_main-nav.scss */
.ha-header-box {
  height: 192px;
  width: 100px;
  top: 20px;
  left: 20px;
}

/* line 329, ../sass/partials/components/_main-nav.scss */
.ha-header-box h1 {
  padding-left: 150px;
}

/* line 333, ../sass/partials/components/_main-nav.scss */
.ha-header-box h1,
.ha-header-box nav a {
  color: transparent;
}

/* line 338, ../sass/partials/components/_main-nav.scss */
.ha-header-box h1:after {
  opacity: 1;
}

/* line 342, ../sass/partials/components/_main-nav.scss */
.ha-header-box nav {
  opacity: 0;
}

/* line 346, ../sass/partials/components/_main-nav.scss */
.ha-header-fullscreen {
  height: 100%;
  opacity: 0.9;
}

/* line 351, ../sass/partials/components/_main-nav.scss */
.ha-header-fullscreen .ha-header-front {
  height: 100%;
}

/* line 355, ../sass/partials/components/_main-nav.scss */
.ha-header-fullscreen .ha-header-bottom {
  opacity: 0;
  -webkit-transition: top 0.5s, opacity 0s 0.5s;
  -moz-transition: top 0.5s, opacity 0s 0.5s;
  transition: top 0.5s, opacity 0s 0.5s;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  top: 50%;
  background: #f3796c;
}

/* line 367, ../sass/partials/components/_main-nav.scss */
.ha-header-subfullscreen {
  height: 100%;
  opacity: 0.9;
}

/* line 372, ../sass/partials/components/_main-nav.scss */
.ha-header-subfullscreen .ha-header-bottom {
  -webkit-transition: top 0.5s;
  -moz-transition: top 0.5s;
  transition: top 0.5s;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  top: 50%;
  background: #f3796c;
}

/* line 383, ../sass/partials/components/_main-nav.scss */
.ha-header-subfullscreen .ha-header-bottom nav a {
  color: #fff;
}

/* line 391, ../sass/partials/components/_main-nav.scss */
#nav-toggle {
  cursor: pointer;
  margin: 5px 0;
  padding: 0 35px 16px 0;
  position: relative;
}

/* line 399, ../sass/partials/components/_main-nav.scss */
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: black;
  position: absolute;
  display: block;
  content: '';
}

/* line 409, ../sass/partials/components/_main-nav.scss */
#nav-toggle span:before {
  top: -10px;
}

/* line 412, ../sass/partials/components/_main-nav.scss */
#nav-toggle span:after {
  bottom: -10px;
}

/* line 416, ../sass/partials/components/_main-nav.scss */
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}

/* line 419, ../sass/partials/components/_main-nav.scss */
#nav-toggle.active span {
  background-color: transparent;
}

/* line 422, ../sass/partials/components/_main-nav.scss */
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}

/* line 425, ../sass/partials/components/_main-nav.scss */
#nav-toggle.active span:before {
  transform: rotate(45deg);
}

/* line 428, ../sass/partials/components/_main-nav.scss */
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/* line 6, ../sass/partials/components/_home-page-header.scss */
header.header .bg-img img {
  display: none;
}

/* Conent */
/* line 13, ../sass/partials/components/_home-page-header.scss */
.content {
  margin: 0 auto;
  padding: 0 0 3em;
}

/* line 18, ../sass/partials/components/_home-page-header.scss */
.content h3 {
  margin: 0;
  font-size: 1.4em;
}

/* line 24, ../sass/partials/components/_home-page-header.scss */
.ip-header {
  position: fixed;
  top: 0;
  z-index: 100;
  min-height: 480px;
  width: 100%;
  height: 100%;
  background: #bababa;
}

/* line 34, ../sass/partials/components/_home-page-header.scss */
.ip-header h1 {
  margin: 0;
}

/* line 38, ../sass/partials/components/_home-page-header.scss */
.ip-logo,
.ip-loader {
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0;
  cursor: default;
  pointer-events: none;
}

/* line 48, ../sass/partials/components/_home-page-header.scss */
.ip-logo {
  top: 0;
  height: 100%;
  -webkit-transform: translate3d(0, 25%, 0);
  transform: translate3d(0, 25%, 0);
}

/* line 55, ../sass/partials/components/_home-page-header.scss */
.ip-loader {
  bottom: 20%;
}

/* line 59, ../sass/partials/components/_home-page-header.scss */
.ip-header .ip-inner {
  display: block;
  margin: 0 auto;
}

/* line 64, ../sass/partials/components/_home-page-header.scss */
.ip-header .ip-logo svg {
  width: 25%;
}

/* line 68, ../sass/partials/components/_home-page-header.scss */
.ip-header .ip-logo svg path {
  fill: #2f2f2f;
}

/* line 72, ../sass/partials/components/_home-page-header.scss */
.ip-header .ip-loader svg path {
  fill: none;
  stroke-width: 6;
}

/* line 77, ../sass/partials/components/_home-page-header.scss */
.ip-header .ip-loader svg path.ip-loader-circlebg {
  stroke: #ddd;
}

/* line 81, ../sass/partials/components/_home-page-header.scss */
.ip-header .ip-loader svg path.ip-loader-circle {
  -webkit-transition: stroke-dashoffset 0.2s;
  transition: stroke-dashoffset 0.2s;
  stroke: #2f2f2f;
}

/* Content */
/* line 89, ../sass/partials/components/_home-page-header.scss */
.box {
  float: left;
  padding: 3.5em;
  width: 33.3%;
  font-size: 0.7em;
  line-height: 1.5;
}

/* line 97, ../sass/partials/components/_home-page-header.scss */
[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: block;
  margin-bottom: 0.5em;
  padding: 0.5em;
  border-radius: 5px;
  background: #dfdfdf;
  color: #fff;
  text-align: center;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-size: 5em;
  font-family: 'feather';
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 118, ../sass/partials/components/_home-page-header.scss */
.icon-bell:before {
  content: "\e006";
}

/* line 122, ../sass/partials/components/_home-page-header.scss */
.icon-cog:before {
  content: "\e023";
}

/* line 126, ../sass/partials/components/_home-page-header.scss */
.icon-heart:before {
  content: "\e024";
}

/* Animations */
/* Initial animation of header elements */
/* line 133, ../sass/partials/components/_home-page-header.scss */
.loading .ip-logo,
.loading .ip-loader {
  opacity: 1;
  -webkit-animation: animInitialHeader 1s cubic-bezier(0.7, 0, 0.3, 1) both;
  animation: animInitialHeader 1s cubic-bezier(0.7, 0, 0.3, 1) both;
}

/* line 140, ../sass/partials/components/_home-page-header.scss */
.loading .ip-loader {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes animInitialHeader {
  /* line 146, ../sass/partials/components/_home-page-header.scss */
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 800px, 0);
  }
}
@keyframes animInitialHeader {
  /* line 150, ../sass/partials/components/_home-page-header.scss */
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 800px, 0);
    transform: translate3d(0, 800px, 0);
  }
}
/* Header elements when loading finishes */
/* line 154, ../sass/partials/components/_home-page-header.scss */
.loaded .ip-logo,
.loaded .ip-loader {
  opacity: 1;
}

/* line 159, ../sass/partials/components/_home-page-header.scss */
.loaded .ip-logo {
  /*-webkit-transform-origin: 50% 0;*/
  /*transform-origin: 50% 0;*/
  -webkit-transform-origin: -20% 60% 0;
  transform-origin: -20% 60% 0;
  -webkit-animation: animLoadedLogo 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  animation: animLoadedLogo 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}

@-webkit-keyframes animLoadedLogo {
  /* line 169, ../sass/partials/components/_home-page-header.scss */
  to {
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
  }
}
@keyframes animLoadedLogo {
  /* line 173, ../sass/partials/components/_home-page-header.scss */
  to {
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
    transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
  }
}
/* line 176, ../sass/partials/components/_home-page-header.scss */
.loaded .ip-loader {
  -webkit-animation: animLoadedLoader 0.5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  animation: animLoadedLoader 0.5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}

@-webkit-keyframes animLoadedLoader {
  /* line 182, ../sass/partials/components/_home-page-header.scss */
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
  }
}
@keyframes animLoadedLoader {
  /* line 186, ../sass/partials/components/_home-page-header.scss */
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
    transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
  }
}
/* Change the color of the logo */
/* line 190, ../sass/partials/components/_home-page-header.scss */
.loaded .ip-logo svg path {
  -webkit-transition: all 0.5s ease 0.3s;
  transition: all 0.5s ease 0.3s;
  fill: #fff;
}

/* Header animation when loading finishes */
/* line 197, ../sass/partials/components/_home-page-header.scss */
.loaded .ip-header {
  -webkit-animation: animLoadedHeader 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  animation: animLoadedHeader 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}

@-webkit-keyframes animLoadedHeader {
  /* line 203, ../sass/partials/components/_home-page-header.scss */
  to {
    -webkit-transform: translate3d(0, -100%, 0);
  }
}
@keyframes animLoadedHeader {
  /* line 207, ../sass/partials/components/_home-page-header.scss */
  to {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
/* Content animations */
/* line 211, ../sass/partials/components/_home-page-header.scss */
.loaded .ip-main h2,
.loaded .ip-main .browser,
.loaded .ip-main .browser .box,
.loaded .codrops-demos {
  -webkit-animation: animLoadedContent 1s cubic-bezier(0.7, 0, 0.3, 1) both;
  animation: animLoadedContent 1s cubic-bezier(0.7, 0, 0.3, 1) both;
}

/* line 219, ../sass/partials/components/_home-page-header.scss */
.loaded .ip-main .browser,
.loaded .ip-main .browser .box:first-child {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

/* line 225, ../sass/partials/components/_home-page-header.scss */
.loaded .ip-main .browser .box:nth-child(2) {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

/* line 230, ../sass/partials/components/_home-page-header.scss */
.loaded .ip-main .browser .box:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes animLoadedContent {
  /* line 236, ../sass/partials/components/_home-page-header.scss */
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 200px, 0);
  }
}
@keyframes animLoadedContent {
  /* line 240, ../sass/partials/components/_home-page-header.scss */
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
  }
}
/* Change layout class for header */
/* line 244, ../sass/partials/components/_home-page-header.scss */
.layout-switch .ip-header {
  position: absolute;
}

/* No JS */
/* line 249, ../sass/partials/components/_home-page-header.scss */
.no-js .ip-header {
  position: relative;
  min-height: 0px;
}

/* line 254, ../sass/partials/components/_home-page-header.scss */
.no-js .ip-header .ip-logo {
  margin-top: 20px;
  height: 180px;
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

/* line 262, ../sass/partials/components/_home-page-header.scss */
.no-js .ip-header .ip-logo svg path {
  fill: #fff;
}

/* Media queries */
@media screen and (max-width: 45em) {
  /* line 270, ../sass/partials/components/_home-page-header.scss */
  .ip-main h2 {
    font-size: 2.25em;
    font-size: 10vw;
  }

  /* line 275, ../sass/partials/components/_home-page-header.scss */
  .box {
    width: 100%%;
  }
}
/* line 1, ../sass/partials/components/_home-post-tout-item.scss */
.post-tout-item {
  position: relative;
  margin-bottom: 8%;
}
/* line 5, ../sass/partials/components/_home-post-tout-item.scss */
.post-tout-item img {
  border: 1px inset #d3d3d3;
}
/* line 10, ../sass/partials/components/_home-post-tout-item.scss */
.post-tout-item .tout-details h3.tout-title {
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}
/* line 16, ../sass/partials/components/_home-post-tout-item.scss */
.post-tout-item .tout-details p.tout-blurb {
  font-size: inherit;
  margin: 0;
}

/* line 1, ../sass/partials/components/_home-page-video.scss */
section.home-page-video {
  background: #030303;
  position: relative;
  top: -10%;
  padding: 3% 3%;
}
/* line 9, ../sass/partials/components/_home-page-video.scss */
section.home-page-video .video-embed {
  max-width: 1440px;
  margin: 0 auto;
}

/* line 6, ../sass/partials/components/_home-sidebar-post.scss */
aside.hide-unless-medium .sidebar-post {
  margin-bottom: 4%;
}
/* line 9, ../sass/partials/components/_home-sidebar-post.scss */
aside.hide-unless-medium .sidebar-post.first {
  width: 48.93617%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 2.12766%;
}
/* line 13, ../sass/partials/components/_home-sidebar-post.scss */
aside.hide-unless-medium .sidebar-post.second {
  width: 48.93617%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  clear: right;
}
/* line 18, ../sass/partials/components/_home-sidebar-post.scss */
aside.hide-unless-medium .sidebar-post.third {
  width: 48.93617%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 2.12766%;
}
/* line 22, ../sass/partials/components/_home-sidebar-post.scss */
aside.hide-unless-medium .sidebar-post.fourth {
  width: 48.93617%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
/* line 26, ../sass/partials/components/_home-sidebar-post.scss */
aside.hide-unless-medium .sidebar-post .sidebar-post-image img {
  width: 23.40426%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}
/* line 29, ../sass/partials/components/_home-sidebar-post.scss */
aside.hide-unless-medium .sidebar-post .sidebar-title-blurb {
  width: 74.46809%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
/* line 31, ../sass/partials/components/_home-sidebar-post.scss */
aside.hide-unless-medium .sidebar-post .sidebar-title-blurb h4 {
  font-weight: 500;
  line-height: 1.2;
  padding: 0;
  margin: 0;
}
/* line 37, ../sass/partials/components/_home-sidebar-post.scss */
aside.hide-unless-medium .sidebar-post .sidebar-title-blurb .sidebar-slug {
  font-size: 80%;
}

@media (min-width: 75em) {
  /* line 46, ../sass/partials/components/_home-sidebar-post.scss */
  aside.show-unless-medium h3 {
    padding-left: 6%;
  }
}
@media (min-width: 20em) {
  /* line 57, ../sass/partials/components/_home-sidebar-post.scss */
  aside.show-unless-medium .sidebar-post {
    margin-bottom: 8%;
  }
}
@media (min-width: 46.25em) {
  /* line 57, ../sass/partials/components/_home-sidebar-post.scss */
  aside.show-unless-medium .sidebar-post {
    margin-bottom: 12%;
  }
}
@media (min-width: 75em) {
  /* line 57, ../sass/partials/components/_home-sidebar-post.scss */
  aside.show-unless-medium .sidebar-post {
    padding-left: 6%;
    margin-bottom: 12%;
  }
}
/* line 69, ../sass/partials/components/_home-sidebar-post.scss */
aside.show-unless-medium .sidebar-post.first {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
/* line 73, ../sass/partials/components/_home-sidebar-post.scss */
aside.show-unless-medium .sidebar-post.second {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  clear: right;
}
/* line 78, ../sass/partials/components/_home-sidebar-post.scss */
aside.show-unless-medium .sidebar-post.third {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
/* line 82, ../sass/partials/components/_home-sidebar-post.scss */
aside.show-unless-medium .sidebar-post.fourth {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
/* line 86, ../sass/partials/components/_home-sidebar-post.scss */
aside.show-unless-medium .sidebar-post .sidebar-post-image img {
  width: 31.91489%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}
/* line 89, ../sass/partials/components/_home-sidebar-post.scss */
aside.show-unless-medium .sidebar-post .sidebar-title-blurb {
  padding-left: 2%;
  width: 65.95745%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
/* line 93, ../sass/partials/components/_home-sidebar-post.scss */
aside.show-unless-medium .sidebar-post .sidebar-title-blurb h4 {
  font-weight: 500;
  line-height: 1.2;
  padding: 0;
  margin: 0;
}
/* line 99, ../sass/partials/components/_home-sidebar-post.scss */
aside.show-unless-medium .sidebar-post .sidebar-title-blurb .sidebar-slug {
  font-size: 80%;
}

/* line 1, ../sass/partials/components/_post.scss */
.post-header {
  position: absolute;
  height: 90%;
}
/* line 4, ../sass/partials/components/_post.scss */
.post-header .adaptive-image {
  display: none;
}
/* line 7, ../sass/partials/components/_post.scss */
.post-header .title {
  top: 60%;
  padding: 1.25em;
}
/* line 11, ../sass/partials/components/_post.scss */
.post-header .title.hide-underneath {
  display: none;
}
/* line 14, ../sass/partials/components/_post.scss */
.post-header .title.underneath {
  left: 50%;
  top: 124%;
}
/* line 18, ../sass/partials/components/_post.scss */
.post-header .title.top {
  width: 100%;
  top: 20%;
  left: 50%;
}
/* line 23, ../sass/partials/components/_post.scss */
.post-header .title.left {
  width: 100%;
  top: 50%;
  left: 25%;
}
/* line 28, ../sass/partials/components/_post.scss */
.post-header .title.right {
  width: 100%;
  top: 50%;
  left: 75%;
}
/* line 33, ../sass/partials/components/_post.scss */
.post-header .title.center {
  width: 100%;
  top: 50%;
  left: 50%;
}
/* line 38, ../sass/partials/components/_post.scss */
.post-header .title h1 {
  opacity: 1;
  font-weight: 300;
}
@media (min-width: 20em) {
  /* line 38, ../sass/partials/components/_post.scss */
  .post-header .title h1 {
    font-size: 2.5em;
  }
}
@media (min-width: 33.75em) {
  /* line 38, ../sass/partials/components/_post.scss */
  .post-header .title h1 {
    font-size: 3.5em;
  }
}
/* line 48, ../sass/partials/components/_post.scss */
.post-header .title p.subline {
  color: #FFFFFF;
  opacity: 1;
  font-weight: 300;
  text-shadow: 2px 2px 0 black, 0 0 0 white, 1px 1px 0 black;
}
@media (min-width: 20em) {
  /* line 48, ../sass/partials/components/_post.scss */
  .post-header .title p.subline {
    font-size: 1.5em;
  }
}
@media (min-width: 33.75em) {
  /* line 48, ../sass/partials/components/_post.scss */
  .post-header .title p.subline {
    font-size: 1.75em;
  }
}

/* line 65, ../sass/partials/components/_post.scss */
.post .first-paragraph p:first-child:first-letter {
  color: #000000;
  float: left;
  font-family: "Quattrocento", serif;
  font-size: 600%;
  line-height: 102px;
  padding-left: 3px;
  padding-right: 10px;
  padding-top: 6px;
}
/* line 75, ../sass/partials/components/_post.scss */
.post .first-paragraph p:first-child {
  font-size: 115%;
}
/* line 78, ../sass/partials/components/_post.scss */
.post .first-paragraph p {
  font-size: 110%;
}

/* line 87, ../sass/partials/components/_post.scss */
.title.underneath p.subline {
  background: rgba(255, 255, 255, 0.3);
  color: white;
  font-style: italic;
  bottom: 11%;
  margin: 0;
  padding: 0 1%;
  position: absolute;
  right: 0.5%;
}
/* line 98, ../sass/partials/components/_post.scss */
.title.underneath h1 {
  padding: 0% 1%;
  margin: 0;
}
