@include add-grid(12);
@include add-gutter(1);
@include sgs-change('output', 'isolation');

.container {
  height: 100%;
  &.modify {
    height: 80%;
  }
}

/* Header */
.header {
  position: relative;
  margin: 0 auto;
  height: 90%;
  width: 100%;

  .title {
    // background-color:rgba(0,0,0,0.4);
    z-index: 1000;
    margin: 0 auto;
    padding: 1.25em;
    width: 100%;
    //text-align: center;
    position: absolute;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    //-moz-box-shadow:    inset 0 0 2px #888888;
    //-webkit-box-shadow: inset 0 0 2px #888888;
    //box-shadow:         inset 0 0 2px #888888;

    @include breakpoint(min-width $home-post-item-grid-small) {
      top: 50%;
      left: 50%;
      position: relative;
      z-index: -1;
    }

    @include breakpoint(min-width $home-post-item-grid-medium) {
      left: 0;
      position: relative;
      top: 50%;
      width: 50%;
      z-index: -1;
    }

    @include breakpoint(min-width $home-post-item-grid-large) {
      // left: 27%;
      position: relative;
      top: 50%;
      width: 50%;
      z-index: -1;
    }

  }

  .title h1 {
    padding: 0 0 0.2em;
    color: #fff;
    font-weight: 500;
    font-size: 3.5em;
    margin: 0 auto;
    opacity: 1;
  }

  .title p {
    color: #fff;
    padding: 0 0 0.6em;
    font-weight: 300;
    font-size: 0.85em;
    //margin: 0 auto;
    line-height: 1.2
  }

  .front .title p.subline {
    line-height: 1;
    @include breakpoint(min-width $home-post-item-grid-small) {
    }

    @include breakpoint(min-width $home-post-item-grid-medium) {
    }

    @include breakpoint(min-width $home-post-item-grid-large) {
      max-width: 65%;
    }
  }

  .title p.subline {
    // color: darkkhaki;
    color: white;
    font-size: 3.75em;
    font-weight: 500;
    //text-shadow: 0 1px 0px black, 0 0 0 white;
  }
}

.posts-grid {
  background: whitesmoke;
  position: relative;
  overflow: hidden;

  @include breakpoint(min-width $home-post-item-grid-small) {
    top: -10%;
  }

  @include breakpoint(min-width $home-post-item-grid-medium) {
    top: -10%;
  }

  @include breakpoint(min-width $home-post-item-grid-large) {
    top: -10%;
  }

  .main-posts {
    @include grid-span(8, 1);

    @include breakpoint(min-width $home-post-item-grid-small) {
      @include grid-span(12, 1);
      padding: 4% 4% 0;
    }

    @include breakpoint(min-width $home-post-item-grid-medium) {
      @include grid-span(12, 1);
      padding: 3% 3% 0;
    }

    @include breakpoint(min-width $home-post-item-grid-large) {
      @include grid-span(8, 1);
      padding: 3% 0% 0% 3%;
    }

    .article {

      &.first {
        @include grid-span(6, 1, $output-style: 'float');

        @include breakpoint(min-width $home-post-item-grid-small) {
          @include grid-span(12, 1);
        }

        @include breakpoint(min-width $home-post-item-grid-medium) {
          @include grid-span(6, 1);
        }

        @include breakpoint(min-width $home-post-item-grid-large) {
          @include grid-span(6, 1);
        }

      }

      &.second {
        @include grid-span(6, 7);

        @include breakpoint(min-width $home-post-item-grid-small) {
          @include grid-span(12, 1);
        }

        @include breakpoint(min-width $home-post-item-grid-medium) {
          @include grid-span(6, 7);
        }

        @include breakpoint(min-width $home-post-item-grid-large) {
          @include grid-span(6, 7);
          clear: right;
        }

      }

      &.third {
        @include grid-span(6, 1, $output-style: 'float');

        @include breakpoint(min-width $home-post-item-grid-small) {
          @include grid-span(12, 1);
        }

        @include breakpoint(min-width $home-post-item-grid-medium) {
          @include grid-span(6, 1);
          clear: both;
        }

        @include breakpoint(min-width $home-post-item-grid-large) {
          @include grid-span(6, 1);
          clear: both;
        }
      }

      &.fourth {
        @include grid-span(6, 7);

        @include breakpoint(min-width $home-post-item-grid-small) {
          @include grid-span(12, 1);
        }

        @include breakpoint(min-width $home-post-item-grid-medium) {
          @include grid-span(6, 7);
        }

        @include breakpoint(min-width $home-post-item-grid-large) {
          @include grid-span(6, 7);
        }
      }

    }

  } //END .main-posts

  .secondary-posts {
    @include grid-span(12, 1);
    @include add-gutter(1/2);

    padding: 3% 3% 0;

    .article {

      &.first {
        @include breakpoint(min-width $home-post-item-grid-small) {
          @include grid-span(12, 1);
        }

        @include breakpoint(min-width $home-post-item-grid-medium) {
          @include grid-span(6, 1);
        }

        @include breakpoint(min-width $home-post-item-grid-large) {
          @include grid-span(4, 1);
        }

      }

      &.second {

        @include breakpoint(min-width $home-post-item-grid-small) {
          @include grid-span(12, 1);
        }

        @include breakpoint(min-width $home-post-item-grid-medium) {
          @include grid-span(6, 7);
        }

        @include breakpoint(min-width $home-post-item-grid-large) {
          @include grid-span(4, 5);
        }

      }

      &.third {
        @include breakpoint(min-width $home-post-item-grid-small) {
          @include grid-span(12, 1);
        }

        @include breakpoint(min-width $home-post-item-grid-medium) {
          @include grid-span(6, 1);
          clear: right;
        }

        @include breakpoint(min-width $home-post-item-grid-large) {
          @include grid-span(4, 9);
        }
      }

      &.fourth {
        @include breakpoint(min-width $home-post-item-grid-small) {
          @include grid-span(12, 1);
        }

        @include breakpoint(min-width $home-post-item-grid-medium) {
          @include grid-span(6, 7);
        }

        @include breakpoint(min-width $home-post-item-grid-large) {
          @include grid-span(4, 1);
          clear: right;
        }

      }

      &.fifth {

        @include breakpoint(min-width $home-post-item-grid-small) {
          @include grid-span(12, 1);
        }

        @include breakpoint(min-width $home-post-item-grid-medium) {
          @include grid-span(6, 1);
          clear: right;
        }

        @include breakpoint(min-width $home-post-item-grid-large) {
          @include grid-span(4, 5);
        }

      }

      &.sixth {
        @include breakpoint(min-width $home-post-item-grid-small) {
          @include grid-span(12, 1);
        }

        @include breakpoint(min-width $home-post-item-grid-medium) {
          @include grid-span(6,7);
        }

        @include breakpoint(min-width $home-post-item-grid-large) {
          @include grid-span(4, 9);
        }
      }
    }

  } // END .secondary-posts

}

aside {
  @include grid-span(4, 9);

  @include breakpoint(min-width $home-post-item-grid-small) {
    @include grid-span(12, 1);
    padding: 0 4% 4%;
    &.hide-unless-medium {
      display: none;
    }
    &.show-unless-medium {
      background: lightgrey;
      margin: 0em auto 1.5em;
    }
  }

  @include breakpoint(min-width $home-post-item-grid-medium) {
    @include grid-span(12, 1);
    padding: 0% 3% 3% 0;
    &.hide-unless-medium {
      background: lightgrey;
      display: block;
      margin: 0 auto 1.5em;
      padding: 0 1.5em;
    }
    &.show-unless-medium {
      display: none;
    }
  }

  @include breakpoint(min-width $home-post-item-grid-large) {
    @include grid-span(4, 9);
    padding: 0% 3% 3% 0;
    &.hide-unless-medium {
      display: none;
    }
    &.show-unless-medium {
      background: lightgrey;
      border-left: 1px solid #999;
      display: block;
      margin: 3% 0 3%;
      padding: 0 1.5% 0;
    }

  }

}