/* -------------------------- */
// Layouts Partials
//
// Your SMACSS Layouts go here
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
/* -------------------------- */

@import 'shared';
@import 'home-layout';
@import 'post-layout';
@import 'footer';