.post {
  &.main {
    padding: 4% 4% 4%;
    margin: -8% 0 0%;
    width: 100%;
  }
  .title h1 {
    padding: 0 0 0.2em;
    color: #fff;
    font-weight: 500;
    font-size: 2.5em;
    margin: 0 auto;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.8),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
  }

  @media (min-width: 320px) {
    .bg-img {
      transform: scale(1);
      -webkit-transform: scale(1);
      img {
        transform: scale(1);
        -webkit-transform: scale(1);
        left: -33%;
      }
    }
  }
  @media (min-width: 800px) {
    .bg-img {
      transform: scale(1);
      -webkit-transform: scale(1);
      img {
        transform: scale(1);
        -webkit-transform: scale(1);
        left: -10%;
      }
    }
  }
  @media (min-width: 1280px) {
    .bg-img {
      transform: scale(1);
      -webkit-transform: scale(1);
      img {
        transform: scale(1);
        -webkit-transform: scale(1);
        left: 0%;
      }
    }
  }

}

