section.post {
  &.main {
    padding: 4% 0% 3%;
    margin: -2% 0 0%;
    width: 100%;
  }
  .title h1 {
    padding: 0 0 0.2em;
    color: #fff;
    font-weight: 500;
    font-size: 2.5em;
    margin: 0 auto;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.8),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
  }

}
