@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'codropsicons';
  src:url('../fonts/codropsicons/codropsicons.eot');
  src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
  url('../fonts/codropsicons/codropsicons.woff') format('woff'),
  url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
  url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'icomoon';
  src:url('../fonts/icomoon/icomoon.eot?-ee0u0f');
  src:url('../fonts/icomoon/icomoon.eot?#iefix-ee0u0f') format('embedded-opentype'),
  url('../fonts/icomoon/icomoon.woff?-ee0u0f') format('woff'),
  url('../fonts/icomoon/icomoon.ttf?-ee0u0f') format('truetype'),
  url('../fonts/icomoon/icomoon.svg?-ee0u0f#icomoon') format('svg');
}

html, body {
  height: 100%;
}

body {
  background: #fff;
  overflow-x: hidden;
}

.clearfix:before, .clearfix:after {
  display: table; content: '';
}

.clearfix:after {
  clear: both;
}

section.quotation {
  blockquote {
    border-left: 1px solid #ccc;
    font-size: 2em;
    font-weight: 500;
    margin: 0 10% 5%;
    padding: 2em 0em 2em 2em;
    line-height: 1.2;
    quotes:"\201C""\201D""\2018""\2019";

    p {
      display: block;
      margin: -8% 0 2%;
      padding: 0 0% 0 10%;
    }

    &:before {
      color:#d3d3d3;
      content:open-quote;
      font-size:6em;
      line-height:.1em;
      margin-right:.25em;
      vertical-align:-.4em;
    }

    .author {
      color: grey;
      font-size: 70%;
      font-style: italic;
      margin: 0 0;
      padding: 0 10%;

      &:before {
        content: ' - ';
      }
    }
  }
}


