html, body {
  height: 100%;
}

body {
  background: #fff;
  overflow-x: hidden;
}

.clearfix:before, .clearfix:after {
  display: table; content: '';
}

.clearfix:after {
  clear: both;
}

section.quotation {
  @include blockquote;
}


