@include add-grid(12);
@include add-gutter(1);
@include sgs-change('output', 'float');

section.post-image {
  overflow: hidden;
  padding-top: 2%;

  p {
    margin-top: 0;
    padding-left: 12%;
    padding-right: 12%;
  }

  &.left {
    img {
      @include grid-span(7, 1);
      margin-left: 0;
      margin-right: 0;

      @include breakpoint(min-width $post-tiny) {
        @include grid-span(12, 1);
        padding: 4% 0%;
        margin-left: 0;
        margin-right: 0 !important;
      }
      @include breakpoint(min-width $post-small) {
        @include grid-span(12, 1);
      }
      @include breakpoint(min-width $post-medium) {
        @include grid-span(7, 1);
        padding: .5% 3% 1% 0;
      }

    }
  }

  &.right {
    img {
      @include grid-span(7, 6);
      margin-left: 2%;
      padding: .5% 0 .5% 0%;

      @include breakpoint(min-width $post-tiny) {
        @include grid-span(12, 1);
        padding: 4% 0%;
        margin-left: 0;
        margin-right: 0 !important;
      }
      @include breakpoint(min-width $post-small) {
        @include grid-span(12, 1);
      }
      @include breakpoint(min-width $post-medium) {
        @include grid-span(7, 1);
        padding: 0.5% 0% 1% 3%;
        float: right !important;
      }

    }
  }

  &.full {
    .full-wrapper {
      background: whitesmoke;
      margin: 0 auto 1em;
      padding: 1.5em 1em 0;
      text-align: center;
      width: 100%;

      img {
        width: 90%;
        margin-bottom: 1em;
      }
    }
  }

}