#container {
}

header.header {
  .bg-img {
    img {
      display: none;
    }
  }
}

.modify {
  .title {
    top: 80%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    h1 {
      text-shadow: none;
    }
  }
}

/* Trigger Button */
button.trigger {
  position: fixed;
  top: 80%;
  left: 50%;
  z-index: 5000;
  display: block;
  margin-left: -0.5em;
  padding: 0;
  width: 1em;
  height: 1em;
  border: none;
  background: transparent;
  color: transparent;
  font-size: 2em;
  cursor: pointer;
}

.container:not(.notrans) button.trigger {
  -webkit-transition: opacity 0.3s 0.5s;
  transition: opacity 0.3s 0.5s;
}

.container.modify:not(.notrans) button.trigger {
  opacity: 0;
  pointer-events: none;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

button.trigger::before {
  position: absolute;
  bottom: 100%;
  left: -100%;
  padding: 0.8em;
  width: 300%;
  color: #fff;
  content: attr(data-info);
  font-size: 0.35em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

button.trigger:focus {
  outline: none;
}

button.trigger span {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

button.trigger span::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  content: "\e097";
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'icomoon';
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Conent */
.content {
  margin: 0 auto;
  padding: 0 0 3em;
}

.content > div:not(.title) {
  margin: 0px auto 0;
  max-width: 900px;
  padding: 0 1.25em;
}

.content > div:not(.title) p {
  margin: 0 auto 1.5em auto;
}

.content > div:not(.title) p:first-child {
  font-size: 1.35em;
}

.content h3 {
  margin: 0;
  font-size: 1.4em;
}

.content blockquote {
  padding: 0.25em;
  font-style: italic;
  font-size: 1.65em;
  font-family: 'Lora', serif;
  line-height: 1.4;
}

.content blockquote::before {
  content: '\201C';
}

.content blockquote::after {
  content: '\201D';
}

/* -------------------------- */
/* Faded gradient */
/* -------------------------- */

.intro-effect-fadeout:not(.notrans) .bg-img {
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
}

.intro-effect-fadeout:not(.notrans) .bg-img::after {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.intro-effect-fadeout:not(.notrans) .header h1 {
  -webkit-transition-property: color;
  transition-property: color;
}

.intro-effect-fadeout:not(.notrans) .header p,
.intro-effect-fadeout:not(.notrans) .content > div {
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
}

.intro-effect-fadeout:not(.notrans) .bg-img,
.intro-effect-fadeout:not(.notrans) .bg-img::after,
.intro-effect-fadeout:not(.notrans) .header h1,
.intro-effect-fadeout:not(.notrans) .header p,
.intro-effect-fadeout:not(.notrans) .content > div {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.intro-effect-fadeout .header {
  overflow: hidden;
}

.intro-effect-fadeout.modify .bg-img {
  -webkit-transform: translateY(-25%);
  transform: translateY(-25%);
}

.intro-effect-fadeout .bg-img::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 101%;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.intro-effect-fadeout.modify .bg-img::after {
  opacity: 1;
}

.intro-effect-fadeout .title {
  text-align: center;
  max-width: 100%;
  padding: 2% 10%;
}

.intro-effect-fadeout.modify .header h1,
.intro-effect-fadeout .header p {
  color: #514753;
}

.intro-effect-fadeout .header p {
  opacity: .7;
}

.intro-effect-fadeout .header p:nth-child(3) {
  -webkit-transform: translateX(-150px);
  transform: translateX(-150px);
}

.intro-effect-fadeout.modify .header p:nth-child(2),
.intro-effect-fadeout.modify .header p:nth-child(3) {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.intro-effect-fadeout .content {
  z-index: 1000;
  position: relative;
}

.intro-effect-fadeout .content > div {
  opacity: 0;
  -webkit-transform: translateY(350px);
  transform: translateY(350px);
}

.intro-effect-fadeout.modify .content > div {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}



/* Media Queries */
@media screen and (max-width: 47em) {
  .title, .content {
    font-size: 75%;
  }
}

@media screen and (max-width: 27em) {

  .title, .content {
  }

  button.trigger::before {
    display: none;
  }
}

