section.home-page-video {
  @include breakpoint(min-width $home-post-item-grid-small) {
  }
  background: darken(darkgray, 65);
  position: relative;
  top: -10%;
  padding: 3% 3%;

  .video-embed {
    max-width: 1440px;
    margin: 0 auto;
  }

}

