.post-header {
  position: absolute;
  height: 90%;
  .adaptive-image {
    display: none;
  }
  .title {
    // background-color: rgba(0, 0, 0, 0.25);
    top: 60%;
    padding: 1.25em;
    &.hide-underneath {
      display: none;
    }
    &.underneath {
      left: 50%;
      top: 124%;
    }
    &.top {
      width: 100%;
      top: 20%;
      left: 50%;
    }
    &.left {
      width: 100%;
      top: 50%;
      left: 25%;
    }
    &.right {
      width: 100%;
      top: 50%;
      left: 75%;
    }
    &.center {
      width: 100%;
      top: 50%;
      left: 50%;
    }
    h1 {
      opacity: 1;
      font-weight: 300;
      @include breakpoint(min-width $post-tiny) {
        font-size: 2.5em;
      }
      @include breakpoint(min-width $post-small) {
        font-size: 3.5em;
      }
    }
    p.subline {
      color: #FFFFFF;
      opacity: 1;
      font-weight: 300;
      text-shadow: 2px 2px 0 black, 0 0 0 white, 1px 1px 0 black;
      @include breakpoint(min-width $post-tiny) {
        font-size: 1.5em;
      }
      @include breakpoint(min-width $post-small) {
        font-size: 1.75em;
      }
    }
  }
}

.post {
  .first-paragraph {
    p:first-child:first-letter {
      color: #000000;
      float: left;
      font-family: "Quattrocento", serif;
      font-size: 600%;
      line-height: 102px;
      padding-left: 3px;
      padding-right: 10px;
      padding-top: 6px;
    }
    p:first-child {
      font-size: 115%;
    }
    p {
      font-size: 110%;
    }
  }
}

.title {
  &.underneath {
    p {
      &.subline {
        background: rgba(255, 255, 255, 0.30);
        color: white;
        font-style: italic;
        bottom: 11%;
        margin: 0;
        padding: 0 1%;
        position: absolute;
        right: 0.5%;
      }
    }
    h1 {
      padding: 0% 1%;
      margin: 0;
    }
  }
}

footer {
  &.underneath {
//    margin-top: 10%;
  }
}

